/* App.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.fullscreen-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000;
}

.overlay-content {
  position: absolute;
  top: 2rem;
  width: 100%;
  text-align: center;
  color: white;
}

.header {
  margin-bottom: 1rem;
}

.icon-title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.icon {
  width: 2rem;
  height: 2rem;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
}

.subtitle {
  font-size: 1rem;
  color: #ddd;
}

/* Styles for the video container within WebcamStream component */
.video-card {
  position: relative;
  width: 640px;
  height: 640px;
  border-radius: 12px;
  overflow: hidden;
}

.video-feed {
  width: 100%;
  height: 100%;
  object-fit: cover;
 /* -webkit-transform: scaleX(-1); */
 /*  transform: scaleX(-1); */
}
